$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// COLORS
$brown: #c69468;
$light-brown: #f7f6f2;
$dark-brown: #512117;
$tomato: #ea6043;
$dark-tomato: #ee5238;
$gray: #8d8d8d;
$green: #00ab19;